# Ignore PDF files
*.pdf

# Ignore Word documents
*.doc
*.docx

# Ignore common image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

# Ignore node_modules and environment variables
node_modules/
.env