# Ignore PDF files
*.pdf

# Ignore Word documents
*.doc
*.docx

# Ignore common image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.log
*.pot
*.py[cod]

# Environment
env/
venv/
.env

# Editor files
.vscode/
.idea/