<!DOCTYPE html>
<html lang="en">
<head>
    <title>Holistic Map</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome to Holistic Map</h1>
    <h2>List of Companies</h2>
    <ul>
        {% for company in companies %}
        <li> {{ company.name }} - {{ company.executive.name }} </li>
        {% endfor %}
    </ul>
    <h2>List of Employees</h2>
    <ul>
        {% for employee in employees %}
        <li> {{ employee.name }} - {{ employee.company.name }} </li>
        {% endfor %}
    </ul>
    <h2>List of Executives</h2>
    <ul>
        {% for executive in executives %}
        <li> {{ executive.name }} </li>
        {% endfor %}
    </ul>
</body>
</html>